body{
    height: auto;
    font-family: 'Roboto' sans-serif;
    color: #212121;
    width: 1600px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/*header styles*/
header{
background-color: #FFFFFF;
}
h1{
 display: none;
}
.header-part{
    display: inline-block;
}
nav a{
    color: #212121;
}
.header-part :hover,
.header-part :focus{
color: #2196F3;
}
.link:hover,
.link:focus{
color: #2196F3;
}
nav li{
display: inline;
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}
a[onclick="return false"]{
    margin-left:50px;
    margin-right:50px ;
}
.logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #000;
margin:25px 90px 25px 215px;
}
span{color: #2196F3}
a[href^="mailto"]{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: 330px;
    margin-right: 50px;
}
a[href^="tel"]{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}
/*main styles*/
main{
    background-color: #E5E5E5;
}
img{
    width:370px;
    height:294px;
}
.button{
    display: inline-block;
}
.images{
    display: inline-block;
    margin: 30px;
    background-color: #fff;
}
.buttons{
margin-left: 320px;
margin-right: 320px;
margin-bottom: 50px;
}
button{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
margin-left: 8px;
margin-right: 8px;
border-radius: 5px;
border-color: transparent;
}
button:focus,
button:hover{
color: #fff;
background-color: #2196F3;
}
main{
    padding: 95px 180px;
}
.block{
    width:1400px;
    height: 1420px;
}
p{
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: #757575;
margin-left: 25px;
}
h2{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
margin-left: 25px;
}
/*footer*/
footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 215px;
}
.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
}
address li a[href^="http"]{
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
margin-bottom: 10px;
}
address a[class="footer-item"]{
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-bottom: 9px;
margin-top: 9px;
margin-left: 0px;
}
address a[class="footer-item"]:focus,
address a[class="footer-item"]:hover{
    color: #2196F3;
}
ul{
    padding-inline-start: 0px;
}